.header {
  padding: 1.5rem 0.5rem;
}

.header .nav_links {
  gap: 3rem;
  margin-right: auto;
}

.header .nav_links > * {
  color: var(--tx-color);
  font-weight: 500;
  cursor: pointer;
}

.header .nav_links > *:hover {
  opacity: 0.8;
}

.header .icon_button {
  gap: 1.5rem;
}
.header .devider {
  background-color: var(--secondary-color);
  width: 1px;
  height: 1.5rem;
}

/* .header .icon_button :nth-child(1) {
  gap: 2rem;
} */

.header .icon_button :nth-child(3) {
  gap: 1rem;
}
