@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* variables */
:root {
  --primary-color: #fa541c;
  --secondary-color: #637381;
  --black: #161c24;
  --white: #ffffff;
  --tx-color: #919eab;
  --blue: #22b8cf;

  --black-900: #222c39;
  --black-800: #212b36;
  --black-700: #29343f;
  --black-600: #2f3944;

  --round-border: 0.4rem;

  --title: 4rem;
  --heading: 3rem;
  --caption: 0.875rem;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: #161c24 !important;
}

::selection {
  color: var(--white);
  background: var(--secondary-color);
}

/* global classes */
a {
  color: inherit;
  text-decoration: none !important;
  font-size: var(--caption);
}

p {
  line-height: 2;
}

li {
  list-style: none;
}

.icon {
  font-size: 1.3rem;
  color: var(--white);
  width: 1.8rem;
  height: 1.8rem;
  background-color: transparent;
  padding: 0.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: scale 0.35s ease;
}

.icon:hover,
.icon:focus {
  background-color: var(--black-900);
  transform: scale(1.1);
}

.hide_moduel {
  display: none !important;
}

.btn_icon {
  font-size: 1.3rem;
}
